[Unit]
Description=SolidFire Vasa Provider
ConditionPathExists=__SFVASA_HOME__/sf_cluster.conf

[Service]
Type=simple
User=root
WorkingDirectory=/sf
ExecStart=__JAVA__ \
            -javaagent:__SFVASA_HOME__/solidfire-vasa-__SFVASA_VERSION__-all-__SFVASA_VERSION__.jar \
            -jar __SFVASA_HOME__/solidfire-vasa-__SFVASA_VERSION__-all-__SFVASA_VERSION__.jar \
            --context-path vasa/services/vasaService
Restart=always

[Install]
WantedBy=multi-user.target
